.body {
  border: 0 solid black;
  border-radius: 54px;
  background-color: rgba(160, 160, 160, 0.267);
  padding: 0 2rem;
  text-align: justify;
  margin: 0;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  color: rgb(0, 0, 0);
}
.head {
  padding: 0 0.5rem;
  align-items: center;
  width: 50rem;
}
.img {
  border: 1px solid black;
  border-radius: 50%;
}
.edu {
  padding: 0 1rem;
}
.ul {
  padding: 0 0.5rem;
  padding-bottom: 0.5rem;
  list-style-type: none;
}
.a {
  color: rgb(96, 176, 207);
}
@media only screen and (max-width: 600px) {
  .body {
    padding: 0 2rem;
    text-align: justify;
    margin: 0;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    color: rgb(0, 0, 0);
  }
  .head {
    width: 100%;
  }
}
